*{ margin: 0; padding: 0; box-sizing: border-box;
font-family: 'kumbh Sans', sans-serif;}

.carousel-inner img {
    width: 100%;
    height: 92.84vh;
  }
  .aboutimg{
    width: 100%;
    height: 250px!important;
  }
